<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Geo</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis|Poppins" rel="stylesheet">
    <script src="https://use.fontawesome.com/2ff322f70f.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
</head>
<body>
    <div class="wrapper">
        <div class="ya_maps" id="ya_maps">
            <div class="popup" id="popup">
                <header class="popup__header">
                    <div class="popup__location">
                        <i class="fa fa-map-marker"></i>
                    <div class="popup__title">Rio de Janeiro, Brazil</div>
                    </div>
                    <button class="btn btn_action_close">
                        <i class="fa fa-times"></i>
                    </button>
                </header>
                <main class="popup__main">
                    <section class="popup__content">
                        <div class="reviews">
                            <ul class="reviews__list"></ul>
                        </div>
                    </section>
                    <section class="popup__form">
                        <form action="#" class="review-form" id="review-form">
                            <div class="review-form__title">Feedback</div>
                            <input type="text" name="name" class="review-form__input" placeholder="Your name" data-key="userName">
                            <input type="text" name="location" class="review-form__input loc" placeholder="Adress" data-key="location">
                            <textarea name="review-text" class="review-form__textarea" placeholder="Your feedback" data-key="commentText"></textarea>
                            <button class="btn btn_action_add" id="btn_action_add">Add</button>
                        </form>
                    </section>
                </main>
            </div>
        </div>
    </div>
</body>
</html>