$bg-col: #53466d;
$white: #fff;

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500');

body,
html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: .5px;
    background: #fff;
    color: #000;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    transition: .3s all ease-in-out;
}

ul {
    margin: 0;
    padding: 0;
    li {
        list-style-type: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

* {
    box-sizing: border-box
}

//-------------------------------------------------------
.wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.ya_maps {
    width: 100%;
    height: 100%;
}

.popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    z-index: 999;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 6px 15px;
        background-color: $bg-col;
        color: $white;
        font-weight: 400;
        .fa {
            font-size: 26px;
            display: flex;
            align-items: center;
        }
    }
    &__location {
        display: flex;
    }
    &__title {
        max-width: 300px;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        align-items: center;
    }
    &__main {
        padding: 10px 15px;
    }
    &__content {
        margin-bottom: 10px;
    }
}

.reviews {
    height: 190px;
    overflow-x: auto;
    border-bottom: 1px solid #f0f0f0;
    font-family: 'Dosis', sans-serif;
    padding: 0 10px 10px;
    &__item {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #efeaf9;
    }
}

.feedback {
    &__header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    &__user {
        font-weight: 600;
        font-size: 17px;
        color: $bg-col;
    }    

    &__location,
    &__date {
        font-size: 14px;
        color: #706d6d;
        margin-left: 10px;
    }
    
    &__location {
        font-weight: 800;
        font-size: 16px;
        color: #424040;
    }
    &__text {
        font-size: 15px;
        max-width: 345px;
        color: #706d6d;
        font-weight: 600;
    }
}

.review-form {
    display: flex;
    flex-direction: column;
    &__title {
        font-size: 16px;
        font-weight: 600;
        color: $bg-col;
        text-transform: uppercase;
        margin-bottom: 10px;
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }
    &__input,
    &__textarea {
        width: 350px;
        border: 1px solid rgba(153, 146, 146, 0.3);
        border-radius: 10px;
        font-size: 15px;
        color: 666666;
        padding: 10px 15px;
        outline: none;
        margin-bottom: 5px;
        box-shadow: inset 0 0 6px rgba(153, 146, 146, 0.3);
        font-family: 'Dosis', sans-serif;
        background-color: #f7f7f7;
    }
    &__textarea {
        height: 90px;
        resize: none;

        &::-webkit-scrollbar {
            width: 5px;
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #e2d6fc;
        }
    }
}

.btn {
    background-color: transparent;
    border: none;
    color: $white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    outline: none;

    &_action_add {
        background-color: $bg-col;
        padding: 8px 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.7);
        font-family: 'Poppins', sans-serif;

        &:active {
            padding: 7px 8px;
            box-shadow: none;
            margin: 2px 0;
            font-size: 15.5px;
            
        }
    }

    &_action_close {
        font-size: 20px;
        padding: 5px 0 5px 5px;
    }
}

.feedback__item{
    border: 1px solid #e2d6fc;
    border-radius: 10px;
    padding: 4px 10px;
    background-color: #efeaf9;
    margin-bottom: 4px;
    max-width: 325px;
}

.balloon_header {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
    color: red;
}

.balloon_body {
    font-size: 16px;
    &__link {
        font-family: 'Poppins', sans-serif;
        display: block;
        margin-bottom: 5px;
    }
}

.balloon_footer {
    font-size: 12px;
    text-align: right;
    color: red; // #7D7D7D;
    position: absolute;
    bottom: 6px;
    right: -20px;
    font-family: 'Dosis', sans-serif;
}
